
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>
                function parse(str) {
                    var y = str.substr(0,4),
                        m = str.substr(5,2) - 1,
                        d = str.substr(8,2);
                    var D = new Date(y,m,d);

                    return Date.parse(D)
                }
        </script>
<script type="text/javascript">
 function Graph(data) {
        console.log(data.length);
        // split the data set into ohlc and volume
        var ohlc = [],
            volume = [],
            dataLength = data.length,
            // set the allowed units for data grouping
            groupingUnits = [[
                'week',                         // unit name
                [1]                             // allowed multiples
            ], [
                'month',
                [1, 2, 3, 4, 6]
            ]],

            i = 0;

        for (i; i < dataLength; i += 1) {
           

            ohlc.push([
                parse(data[i][0]), // the date
                parseFloat(data[i][1]), // open
                parseFloat(data[i][2]), // high
                parseFloat(data[i][3]), // low
                parseFloat(data[i][4]) // close
            ]);

            volume.push([
                parse(data[i][0]), // the date
                parseInt(data[i][5])// the volume
            ]);

           
        }
        console.log(ohlc)

        // create the chart
        $('#container').highcharts('StockChart', {

            rangeSelector: {
                inputEnabled: $('#container').width() > 480,
                selected: 1
            },

            title: {
                text: '<%= @symbol %> Historical'
            },

            yAxis: [{
                labels: {
                    align: 'right',
                    x: -3
                },
                title: {
                    text: 'OHLC'
                },
                height: '60%',
                lineWidth: 2
            }, {
                labels: {
                    align: 'right',
                    x: -3
                },
                title: {
                    text: 'Volume'
                },
                top: '65%',
                height: '35%',
                offset: 0,
                lineWidth: 2
            }],

            series: [{
                type: 'candlestick',
                name: '<%= @symbol %>',
                data: ohlc,
                dataGrouping: {
                    units: groupingUnits
                }
            }, {
                type: 'column',
                name: 'Volume',
                data: volume,
                yAxis: 1,
                dataGrouping: {
                    units: groupingUnits
                }
            }],

        });
    };
        </script>

<div id="container" style="height:700px; min-width: 310px"></div>
<div id="ratios">
    <h1 style="text-align: center;">Financial Data</h1>
    <table id="balanceSheet">
    </table>
</div>
<script>
$(document).ready(function(){
    data = <%= raw(@stock.to_json) %>; 
    Graph(data);
});
 
</script>
<script>
    $(function () {
         $.getJSON('/financials/<%= @symbol %>', function (data) {
            console.log(data);
            for(i=0; i < data.length;i++){
                $('#balanceSheet').append("<tr><td>" + data[i].name + "</td><td> " + data[i].data[0][1] + "</td></tr>");
            }
        });

    });
</script>